{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="container bg-dark  text-white" style="margin-top:100px;font-size:20px; border:0.5px ridge blue;">
      <p> The financial market in India is growing rapidly and is expected to emerge as one of the leaders in the international arena very soon. This boom in financial markets is stimulating the growth of the Indian share market encouraging the investors to invest in the share market.

    The history of the share market of India dates back to 1875. The name of the first share trading association in India was “Native Share and Stock Broker's Association” which later came to be known as Bombay Stock Exchange (BSE). This association began with 318 members. Today India can boast of 24 share markets in the various parts of the country, and a number of financial intermediaries that include banks, Non Banking Financial Corporations, Insurance companies, Mutual Funds, etc.

    About Share Market of India<br>

    The Indian share market (capital market) is divided into two segments:

    <b>Primary market</b>
    <b>Secondary market</b>
    The Primary market is that market where new securities (like shares, debentures, government bonds, CDs, CPs, etc.) are issued to the public.

    Investors can subscribe to IPO of companies to buy new shares directly from the issuer of shares i.e. the company. The company receives the proceeds from the sale of these shares and uses it to fund its operations and expand its business. The Primary Market is also known as the New Issues Market.

    The Secondary market consists of trading in the shares of listed companies. Once the initial sale of shares is undertaken, buying and selling shares of companies can be undertaken between the traders and investors who want to purchase the shares and those share-holders who want to sell their shares. These operations are undertaken in the Secondary Market. A newly issued IPO will be considered a primary market trade when the shares are first purchased by investors directly from the underwriting investment bank; after that any shares traded will be on the secondary market, between investors themselves.

    In the primary market, share prices are set by the merchant bankers using valuation methodologies, while the share prices in the secondary market are determined by the market forces of supply and demand. The share market of India is regulated by the Securities and Exchanges Board of India (SEBI). The primary objective of SEBI is to promote healthy and orderly growth of the share market and secure investor protection. The SEBI also regulates the share transactions done by foreign investors and traders and also keeps check against malpractices in the share market.

    The scope of the share market in India has widened tremendously over the past few years, thanks to the launch of a variety of products and services. Share markets are, by nature, extremely volatile and hence the risk factor is an important concern for the intermediaries. To reduce this risk, the concept of derivatives comes into the picture. Derivatives are products whose values are derived from one or more underlying assets. These assets can be forex, equity, etc. The derivatives market in India is also expanding immensely with an increased number of market participants using derivatives.</p>
</div>
{% endblock content %}